.contact-page {
  font-family: "system-ui", Arial, Helvetica, sans-serif;
  h1 {
    text-align: center;
    margin: 15px auto 40px;
  }

  &-content {
    display: flex;
    margin: 20px auto;
    justify-content: center;
    width: 1000px;

    &-image {
      width: 50%;
      text-align: center;
      align-self: center;
      &-container {
        text-align: unset;
        img {
          width: 65%;
          height: auto;
          @media screen and (max-width: 1000px) {
            width: 75%;
          }
        }
        @media screen and (max-width: 1000px) {
          text-align: center;
        }
      }
    }

    &-form {
      width: 50%;
      padding: 10px;

      h2 {
        text-align: left;
        margin: 10px auto 20px;
      }

      p {
        text-align: left;
        padding: 0px 10px;
        margin: 0px auto;
        margin-bottom: 20px;
        font-size: 13px;
        span {
          font-weight: 900;
        }
      }

      &-textbox {
        margin: 0px auto;
        textarea {
          margin: 0px auto;
          width: 100%;
          padding: 5px;
          height: 150px;
          background: inherit;
          border: 1px solid #bcbcbc;
          font-family: inherit;
          &:focus {
            outline: none;
          }
        }
      }

      &-inputs {
        display: flex;
        margin: 20px auto;
        margin-bottom: 30px;
        padding: 0px 5px;
        input {
          margin-right: 10px;
          width: 50%;
          border: 0px;
          padding: 5px;
          border-bottom: 1px solid #bcbcbc;
          background: inherit;
          &:focus {
            outline: none;
          }
        }
      }

      h2,
      p,
      &-inputs,
      &-textbox {
        width: 90%;
      }
    }

    @media screen and (max-width: 1000px) {
      width: 80vw;
      &-form {
        width: 100%;
        h2 {
          text-align: center;
        }
      }

      &-image {
        display: none;
      }
    }
  }

  @media screen and (max-width: 1000px) {
    // width: 90vw;
  }
}
